<!--// введение булевой переменной для блока кнопки-->

<!--<button disabled="{{!canAddCar}}" class="btn btn-success">Add new car</button>-->
<!--<button [disabled]="!canAddCar" class="btn btn-success">Add new car</button>-->

<!--вывод определенного текста с помощью булевого флага-->
<!--<input type="text" class="form-control" [(ngModel)]="carName">-->
<!--<button class="btn btn-success" (click)="addNewCar()">Add new car</button>-->
<!--&lt;!&ndash;с помощью булевой переменной carStatus мы при нажатии кнопки меняем ввод нижнего поля &ndash;&gt;-->
<!--<p *ngIf="!carStatus; else successStatus">New car did not add yet!</p>-->
<!--<ng-template #successStatus>-->
<!--  <p>New car add!</p>-->
<!--</ng-template>-->
<!--<hr>-->

<!--появление текста ниже (addCarStatus) после нажатия на кнопку (2 способа)-->
<!--<button class="btn btn-success" onclick="">Add new car</button>-->
<!--<button class="btn btn-success" (click)="addCar()">Add new car</button>-->
<!--<p>{{addCarStatus}}</p>-->
<!--<hr>-->

<!--selector: '.app-car' в car.component-->
<!--<div class="app-car"></div>-->
<!--<hr>-->

<!--текст с поля ввода параллельно выводится и в параграфе ниже (2 способа)-->
<!--<input type="text" class="form-control" (keyup)="onKeyUp($event)">-->
<!--<input type="text" class="form-control" #myInput (keyup)="onKeyUp1(myInput.value)">-->
<!--<p>{{inputText1}}</p>-->
<!--<hr>-->

<!--текст с поля ввода выводится и в параграфе только после нажатия клавиши-->
<!--<input type="text" class="form-control" #myInput (keyup)="onKeyUp1(myInput.value)">-->
<!--<input type="text" class="form-control" [(ngModel)]="inputText1">-->
<!--<p>{{inputText1}}</p>-->
<!--<hr>-->

<!--<div class="app-car" *ngFor="let car of arrayCars"></div>-->
<!--<ul>-->
<!--  &lt;!&ndash;вывод на экран массива обьектов&ndash;&gt;-->
<!--  <li *ngFor="let item of items; let i = index">-->
<!--    &lt;!&ndash;вывод на экран id обьекта и имени &ndash;&gt;-->
<!--    &lt;!&ndash;  <b>{{item.id}}</b> - <i>{{item.name}}</i>&ndash;&gt;-->
<!--    <b>{{i + 1}}</b> - <i>{{item.name}}</i>-->
<!--  </li>-->
<!--</ul>-->
<!--<hr>-->

<!--вывод на экран массива названия машин-->
<!--изменение цвета backgroundColor списка по четности индекса цикла (transparent -> оставить без изменений)-->
<!--изменение цвета текста 'color' : 'white')-->
<!---->
<!--<ul>-->
<!--  <li *ngFor="let car of arrayCars; let i = index">-->
<!--    <div-->
<!--      [ngStyle]="{backgroundColor: (i+1) %2 === 0 ? 'red' : 'green', 'color' : 'white'}"-->
<!--      [ngClass]="{'big-text': setBigCarText(car)}"-->
<!--    >-->
<!--      <b>{{i + 1}}</b> - {{car}}-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->
<!--<hr>-->

<!--Применение пайпов {{date | date ('short','medium') }} (Трасформация вида выводы даты на экран)-->
<!--<ul>-->
<!--  <li *ngFor="let date of dates; let i = index">-->
<!--    <div>-->
<!--&lt;!&ndash;      <b>{{i + 1}}</b> - {{date | date: 'medium'}}&ndash;&gt;-->
<!--      <b>{{i + 1}}</b> - {{date | uppercase}}-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->
<!--<hr>-->


<!--вывод элементов с помощью свойства binding-->
<!--<input type="text" class="form-control" [ngModel]="carName">-->
<!--<input type="text" class="form-control" [ngModel]="carYear">-->
<!--<button class="btn btn-success" (click)="addCar()"> Add new car</button>-->
<!--<hr>-->
<!--<div class="app-car" *ngFor="let car of cars" [carItem]="car"></div>-->

<!--подписываемся на событие-->
<!--<p>-->
<!--  Forms add new car-->
<!--</p>-->
<!--<hr>-->
<!--<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>-->
<!--<hr>-->
<!-- <button class="btn btn-warning" (click)="changeCarName()">Change name car</button>-->
<!-- <button class="btn btn-danger" (click)="deleteCar()">Delete car</button>-->
<!--<hr>-->

<!--<div class="list-group">-->
<!--  <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car" [name] = "car.name">-->
<!--    <h4 #carHeading class="list-group-item-heading">{{'Name:'}} {{car.name}}</h4>-->
<!--    <p class="list-group-item-text">{{'Year:'}} {{car.year}}</p>-->
<!--  </app-car>-->
<!--</div>-->
